<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon">
      <mat-icon>handshake</mat-icon>
    </button>
    <span>Simple HelpDesk</span>
    <span class="example-spacer"></span>
      <button mat-stroked-button extended color="primary">
      <mat-icon>add</mat-icon>
        Novo chamado
      </button>
      <button mat-icon-button class="example-icon favorite-icon" color="primary" aria-label="Example icon-button with heart icon">
        <mat-icon>account_circle</mat-icon>
      </button>
  </mat-toolbar>
  